{% extends "shop/basic.html" %}
{% block style %} <link rel="stylesheet" href="/static/shop/css/prod-img.css"> {% endblock %}
{% block title %} {{product.product_name}} {% endblock %}
<!-- CONTAINER -->
{% block body %}

<div class="mainDiv">
    <div class="prod-img">
        <img src="/media/{{product.product_img}}" alt="Image" class="waitload">
    </div>
    <div class="prod-detail">
        <h2>{{product.product_name}}</h2>
        <p class="description">{{product.product_description}}</p>
        <p class="price">Rs. {{product.product_price}}.<sup>00</sup></p>
        <button class="btn btn-primary add-to-cart" id="{{product.id}}">Add To Cart</button>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="/static/shop/js/prod-page.js"></script>
{% endblock %}