{% extends "shop/basic.html" %}
{% block style %} <link rel="stylesheet" href="/static/shop/css/prod-img.css"> {% endblock %}
{% block title %} {{product.product_name}} {% endblock %}
<!-- CONTAINER -->
{% block body %}
<a href="/shop/" id="go-back" class="h1" style="color:grey;"><i class="fas fa-arrow-circle-left"></i></a>
<div class="mainDiv">
    <div class="prod-img">
        <img src="/media/{{product.product_img}}" alt="Image" class="waitload">
    </div>
    <div class="prod-detail">
        <h2>{{product.product_name}}</h2>
        <p class="description">{{product.product_description}}</p>
        <p class="price">Rs. {{product.product_price}}.<sup>00</sup></p>
        <div class="button-div">
        <button class="btn btn-primary add-to-cart cart-btn" id="{{product.id}}">Add To Cart</button>
        <input type="hidden" class="prodName" placeholder="{{product.product_name}}">
        <input type="hidden" class="prodPrice" placeholder="{{product.product_price}}">
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="/static/shop/js/prod-page.js"></script>
{% endblock %}

